:root {
  color-scheme: dark;

  --a-clr-primary-50: 255 209 209;
  --a-clr-primary-100: 255 154 154;
  --a-clr-primary-200: 250 128 114;
  --a-clr-primary-300: 235 39 84;
  --a-clr-primary-400: 223 40 0;
  --a-clr-primary-500: 153 35 35;
  --a-clr-primary-600: 128 0 0;
  --a-clr-primary-700: 105 0 0;

  --clr-primary-50: rgb(var(--a-clr-primary-50)); /* #ffd1d1 */
  --clr-primary-100: rgb(var(--a-clr-primary-100)); /* #ff9a9a */
  --clr-primary-200: rgb(var(--a-clr-primary-200)); /* #fa8072 */
  --clr-primary-300: rgb(var(--a-clr-primary-300)); /* #eb2754 */
  --clr-primary-400: rgb(var(--a-clr-primary-400)); /* #df2800 */
  --clr-primary-500: rgb(var(--a-clr-primary-500)); /* #992323 */
  --clr-primary-600: rgb(var(--a-clr-primary-600)); /* #800000 */
  --clr-primary-700: rgb(var(--a-clr-primary-700)); /* #690000 */
  --clr-violet: #c4b5fd;
  --clr-dark: #222;
  --clr-semiwhite: #eee;
}

html,
body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-dark);
  color: var(--clr-semiwhite);
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

figure > figcaption {
  font-size: 0.7rem;
  color: var(--clr-primary-50);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
}

::selection {
  background: rgb(var(--a-clr-primary-300) / 0.3);
}

.animated-underline {
  background-image: linear-gradient(#33333300, #33333300),
    linear-gradient(to right, var(--clr-primary-300), var(--clr-primary-100));
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
}

@media (prefers-reduced-motion: no-preference) {
  .animated-underline {
    transition: 0.3s ease;
    transition-property: background-size, color, background-color, border-color;
  }
}

.animated-underline:hover,
.animated-underline:focus-visible {
  background-size: 0 2px, 100% 2px;
}

.underline-link {
  border-color: rgb(229 231 235);
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  border-bottom-width: 1px;
  border-style: none;
}

.underline-link:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.underline-link:focus-visible {
  border-radius: 0.25rem;
  box-shadow: rgb(15, 23, 42) 0px 0px 0px 2px,
    rgb(var(--a-clr-primary-300)) 0px 0px 0px 5px,
    rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.underline-link:hover {
  border-color: transparent;
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-weight: 600;
  border-radius: 0.25rem;
  transition: all 300ms;
  background-color: var(--clr-primary-300);
  color: black;
  border-width: 1px;
  border-color: var(--clr-primary-500);
}

.button:hover {
  background-color: var(--clr-primary-500);
  color: var(--clr-primary-50);
}

.button:active {
  background-color: var(--clr-primary-600);
}

.button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.gradient-list {
  height: 0.5rem;
  background-color: green;
}

.root-header {
  position: sticky;
  top: 0px;
  z-index: 69;
}

.layout {
  max-width: 68.75rem;
  margin-left: auto;
  margin-right: auto;
  width: 91.666667%;
}

.nav-wrapper {
  background-color: var(--clr-dark);
  color: #eee;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem /* 12px */;
  line-height: 1rem /* 16px */;
}

.navbar-ul > :not([hidden]) ~ :not([hidden]) {
  margin-right: 0;
  margin-left: 0.75rem;
}

@media (min-width: 768px) {
  .navbar-ul {
    font-size: 1rem /* 16px */;
    line-height: 1.5rem /* 24px */;
  }

  .navbar-ul > :not([hidden]) ~ :not([hidden]) {
    margin-right: 0;
    margin-left: 1rem;
  }
}

.navbar-link {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.125rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  font-weight: 500;
  color: #eee;
}

.navbar-link:hover {
  color: var(--clr-primary-200);
}

.navbar-link:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.navbar-link:focus-visible {
  box-shadow: rgb(15, 23, 42) 0px 0px 0px 2px,
    rgb(var(--a-clr-primary-300)) 0px 0px 0px 5px,
    rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.brand {
  --gradient-stops: var(--clr-primary-200),
    var(--clr-violet, rgb(var(--tw-clr-primary-300) / 0));
  background-image: linear-gradient(to top right, var(--gradient-stops));
  font-size: 2rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

nav ul li span {
  transition: all 300ms;
  background-color: rgb(var(--tw-clr-primary-300) / 0);
}

.content-wrapper {
  display: flex;
  justify-content: space-around;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 3;
}

.bio-side {
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: sticky;
  top: 6rem;
  max-height: calc(100vh - 6rem - 40px);
  border: 1px solid var(--clr-primary-300);
  border-radius: 0.375rem;
}

.bio-side figure {
  max-width: 80%;
  border-radius: 0.4rem;
  overflow: hidden;
}

.bio-img {
  max-width: 80%;
}

.bio-fig {
}

.header-main {
  font-size: 2.25rem /* 36px */;
  line-height: 2.5rem /* 40px */;
}

.main-article {
  padding-top: 3rem /* 48px */;
  padding-bottom: 3rem /* 48px */;
}

.space-y-1rem > :not([hidden]) ~ :not([hidden]) {
  margin-top: 1rem;
}

.space-y-2rem > :not([hidden]) ~ :not([hidden]) {
  margin-top: 3rem;
}

.tags {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--clr-primary-100);
}

.links {
  color: var(--clr-violet);
  display: flex;
}

.links > :not([hidden]) ~ :not([hidden]) {
  margin-right: 0;
  margin-left: 1rem;
}

.subheader {
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 700;
  scroll-margin-top: 4rem;
}

@media (min-width: 768px) {
  .subheader {
    font-size: 1.875rem /* 30px */;
    line-height: 2.25rem /* 36px */;
  }
}

.content-text {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: #d1d5db;
}

.content-img {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.4rem;
  overflow: hidden;
}

.content-link {
  color: var(--clr-primary-100);
}

.root-footer {
  padding-bottom: 0.5rem;
  margin-top: 1rem;
}

.subfooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
  border-top-width: 1px;
  border-color: rgb(75 85 99);
}

.subfooter p {
  margin-top: 2rem;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  color: rgb(209 213 219);
}

.social-links {
  margin-top: 0.5rem;
  display: flex;
}

.social-links > :not([hidden]) ~ :not([hidden]) {
  margin-right: 0;
  margin-left: 1rem;
}

.sub-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-social-links svg {
  color: var(--clr-primary-200);
  font-size: 3rem;
  margin-top: auto;
  margin-bottom: auto;
  height: 1.5rem;
  color: rgb(209 213 219);
  vertical-align: middle;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.sub-social-links svg:hover {
  color: var(--clr-primary-200);
}
